.card {
  display: flex;
  border-bottom: solid 1px #efefef;
  padding-top: 30px;
  padding-bottom: 30px;

  .col-left {
    width: 20%;
    img {
      max-width: 100%;
    }
  }
  .col-right {
    width: 80%;
  }
  .content-wrapper {
    > div {
      display: flex;
      &.card-header {
        justify-content: space-between;
      }
    }
  }
}
