.card {
  border-bottom: solid 1px #efefef;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .col-left {
    width: 20%;
    .image-wrapper {
      position: relative;
      img {
        max-width: 100%;
      }
    }
  }
  .col-right {
    width: 80%;
    .content-wrapper {
      > div {
        display: flex;
        &.card-header {
          justify-content: space-between;
          margin-bottom: 2rem;
          h2 {
            margin: 0;
          }
        }
      }
    }
  }
}
